---
import "./global.css";
import "./markdown.css";
import Header from "../_components/header/main.astro";
import Footer from "../_components/footer/main.astro";
import { Image } from "astro:assets";

const {
  title = "Ibrahim Sadik Tamim - tam11a ✦ coder, designer, thinker",
  frontmatter,
} = Astro.props;

const { name, logo, timeline, description, role, type } = frontmatter;

console.log(frontmatter);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.svg" />
    <title>{`${name} | ${title}`}</title>
    <meta name="description" content={description} />
    <meta property="og:image" content="/og.jpg" />
    <meta property="og:image:alt" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://tam11a.dev" />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <svg
      class="pointer-events-none fixed isolate -z-50 opacity-70 top-0 mix-blend-soft-light"
      width="100%"
      height="100%"
      ><filter id="noise"
        ><feTurbulence
          type="fractalNoise"
          baseFrequency="0.80"
          numOctaves="4"
          stitchTiles="stitch"></feTurbulence></filter
      ><rect width="100%" height="100%" filter="url(#noise)"></rect></svg
    >
    <Header />
    <main class="container !max-w-lg">
      <div class="flex flex-col items-center justify-center gap-0 pb-10">
        <Image
          src={logo}
          alt={name}
          loading="eager"
          width="256"
          height="256"
          class={"w-24 mb-2 rounded-md shadow"}
        />
        <h1 class="text-2xl font-bold shadow text-white">{name}</h1>

        <h2 class="text-sm mt-3 text-center">{description}</h2>

        <div
          class="flex relative flex-row gap-5 w-full px-7 py-5 mt-10 bg-gradient-to-br from-primary/5 to-secondary/5 rounded-md"
        >
          <p class="flex flex-col gap-1 text-left m-0">
            <span class="uppercase font-bold text-offcolor text-xs">Type</span>
            <span class="text-sm">{type || "N/A"}</span>
          </p>
          <p class="flex flex-col gap-1 flex-1 text-left m-0">
            <span class="uppercase font-bold text-offcolor text-xs">Role</span>
            <span class="text-sm">{role || "N/A"}</span>
          </p>
          <p class="flex flex-col gap-1 text-left m-0">
            <span class="uppercase font-bold text-offcolor text-xs"
              >Timeline</span
            >
            <span class="text-sm">{timeline || "N/A"}</span>
          </p>
        </div>
      </div>
      <slot />
    </main>
    <Footer />
  </body>
</html>
